<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> < %= title % ></title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
</head>


<nav>
    <div class="nav-responsive">
        <p class="cakelin">Cakelin</p>
        <a href="/home">
        <img src="/img/My Post.png" alt="img" id="logo" class="logo"></a>
        <div class="nav-search" >
            <a href="#">
            <i class="fa fa-search" id="find"></i></a>
            <input type="text" id="search" placeholder="Search your cake">
            
        </div>
        <div class="access">
            <a href="#">
                <i class="fa fa-bell" id="notification"></i></a>
                <a href="/mycart">
                <i class="fa fa-shopping-cart" id="cart"></i></a>


        </div>
    </div>
</nav>
