<%- include('header') %>



<main id="site-main">
    <div class="container">
        
        <form action="/" method="POST">
        <table class="table">
            <thead class="thread-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
              
            </thead>
        <tbody>

    <%- include('show') %>
            
    </tbody> 
        </table>
        </form>
        
    </div>
</main>




<%- include('footer') %>